#container {
	position: absolute;
	right: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: auto;
}

#header {
	background-color: #060000;
	margin: 4px;
	padding: 8px;
	border: 2px solid #fe6464;
}


#links {
	display: -webkit-box;
}

.linksbox {
	-webkit-box-flex: 1;
	margin: 4px;
	padding: 8px 8px 8px 8px;
	background-color: #060000;
	border: 2px solid #fe6464;
}

.linksbox a{
	display: block;
	text-decoration: none;
}


body{
background:#060000;
}


a{
	color:#fe6464;
	font-size:11pt;
}

span{
	color: #E23E3E;
}

h3{
	font-size:12pt;
}

input 	{
	display: inline;
	color:#fd4948;
	background: none;
	display: inline;
	border: none;
	width: 70%;
}
